body {
  width: 100%;
  min-width: 360px;
  overflow-x: hidden;
  position: relative;
  color: #252525;
  background-color: #FFFFFF;
  font: 400 1.125rem/1.25 'TT Norms', sans-serif;
}
  
p {
  font: 400 1.125rem/1.25 'TT Norms', sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.row {
  text-align: justify;
  font-size: 0;
}

.row::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.col {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  width: 100%;
  min-width: 360px;
  overflow-x: hidden;
}

.container {
  max-width: 1366px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .userbar ul {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .group ul {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.header .phone {
  font: 700 1.5rem/1.25 'TT Norms', sans-serif;
  letter-spacing: 1px;
  color: #9b9b9b;
  background: url(../img/icon_phone_1.png) left 0 no-repeat;
  padding-left: 45px;
  min-height: 37px;
}

.header .callme,
.header .profile {
  display: inline-block;
  font: 500 0.9rem/1.25 'TT Norms', sans-serif;
  border-radius: 18px;
  color: #646464;
  border: 1px solid #646464;
  transition-property: color, border, background-color;
}

.header .callme {
  padding: 10px 35px;
}

.header .profile {
  padding: 10px 45px;
}

.header .callme:hover,
.header .profile:hover,
.header .callme:focus,
.header .profile:focus {
  background-color: #7E81BB;
  color: #FFFFFF;
  border: 1px solid #7E81BB;
  transition-property: color, border, background-color;
}

.header .search {
  display: block;
  height: 36px;
  width: 36px;
  background: transparent url(../img/icon_search.png) center center no-repeat;
}

.header .basket {
  display: block;
  height: 36px;
  width: 42px;
  background: transparent url(../img/icon_basket.png) center center no-repeat;
}

.subheader {
  background-color: #20201f;
}

.subheader .menu ul {
  display: flex;
  justify-content: space-between;
}

.subheader .menu a {
  display: block;
  padding: 12px;
  font: 500 1.5rem/1.25 'TT Norms', sans-serif;
  color: #FFFFFF;
}

.subheader .menu .active,
.subheader .menu a:hover,
.subheader .menu a:focus,
.footer .submenu .active,
.footer .submenu a:hover,
.footer .submenu a:focus {
  color: #7E81BB;
}

.top {
  background: #FFFFFF url(../img/header_bg.jpg) center center no-repeat;
  min-height: 569px;
}

.page-title {
  font: 500 3rem/1.25 "TT Norms", sans-serif;
  color: #161616;
  padding: 30px;
}

.select .page-subtitle {
  font: 500 3rem/1.25 "TT Norms", sans-serif;
  padding: 30px 0 20px 35px;
  color: #646464;
}

.select .vehicles ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select .model {
  font: 700 1.875rem/1.25 "TT Norms", sans-serif;
  color: #161616;
  text-align: center;
  margin-top: 25px;
}

.services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}

.services .service {
  min-height: 550px;
  margin: 10px;
  position: relative;
}

.services .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
  margin: 50px;
}

.services .title {
  font: 500 3rem/1.25 "TT Norms", sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.services .readmore {
  align-self: flex-start;
  padding: 15px 10px;
  border: 5px solid #FFFFFF;
  font: 700 1.5rem/1.25 "TT Norms", sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
  background-color: transparent;
  transition: 0.5s ease 0s;
  transition-property: background-color, color;
}

.services .readmore:hover,
.services .readmore:focus {
  background-color: #FFFFFF;
  transition: 0.5s ease 0s;
  color: #252525;
  transition-property: background-color, color;
}

.services .transfer {
  background: url(../img/service_transfer.jpg) center center no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.services .wedding {
  background: url(../img/service_wedding.jpg) center center no-repeat;
  background-size: cover;
  flex-grow: 2;
  min-width: 60%;
}

.services .corporate {
  background: url(../img/service_corporative.jpg) center center no-repeat;
  background-size: cover;
  flex-grow: 2;
  min-width: 60%;
}

.services .business {
  background: url(../img/service_business.jpg) center center no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.services .events {
  background: url(../img/service_events.jpg) center center no-repeat;
  background-size: cover;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 60%;
}

.presentation {
  max-width: 1850px;
  margin: 0 auto;
}

.presentation .vehicle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.presentation .vehicle .exterior .content,
.presentation .vehicle .interior .content {
  min-height: 100%;
  display: flex;
}

.presentation .vehicle .exterior:nth-child(2n-1) .content {
  justify-content: flex-end;
  align-items: flex-end;
}

.presentation .vehicle .exterior:nth-child(2n) .content {
  justify-content: flex-start;
  align-items: flex-end;
}

.presentation .vehicle .interior:nth-child(2n) .content {
  justify-content: flex-start;
  align-items: flex-end;
}

.presentation .vehicle .interior:nth-child(2n-1) .content {
  justify-content: flex-end;
  align-items: flex-end;
}

.presentation .vehicle .title {
  font: 700 2rem/1.25 "TT Norms", sans-serif;
  min-width: 50%;
  padding: 20px;
  background-color: #FFFFFF;
  color: #161616;
}

.presentation .vehicle .reservation {
  font: 500 1.5rem/1.25 "TT Norms", sans-serif;
  padding: 10px 50px;
  margin: 10px;
  background-color: #161616;
  color: #FFFFFF;
  border: 1px solid #161616;
  box-shadow: 0 5px 15px 0 transparent;
  transition: 0.5s ease 0s;
  transition-property: border, box-shadow;
}

.presentation .vehicle .reservation:hover,
.presentation .vehicle .reservation:focus {
  border: 1px solid #FFFFFF;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.7);
}

.presentation .vehicle .exterior,
.presentation .vehicle .interior {
  min-height: 550px;
  margin: 10px;
  background-size: cover;
}

.presentation .vehicle .exterior {
  flex-grow: 1.75;
  min-width: 60%;
}

.presentation .vehicle .interior {
  flex-grow: 1.25;
}

.presentation .camry .exterior {
  background: url(../img/vehicle_01.jpg) center center no-repeat;
}

.presentation .camry .interior {
  background: url(../img/vehicle_02.jpg) center center no-repeat;
}

.presentation .mercedes .exterior {
  background: url(../img/vehicle_04.jpg) center center no-repeat;
}

.presentation .mercedes .interior {
  background: url(../img/vehicle_03.jpg) center center no-repeat;
}

.presentation .sprinter .exterior {
  background: url(../img/vehicle_05.jpg) center center no-repeat;
}

.presentation .sprinter .interior {
  background: url(../img/vehicle_06.jpg) center center no-repeat;
}

.presentation .starex .exterior {
  background: url(../img/vehicle_08.jpg) center center no-repeat;
}

.presentation .starex .interior {
  background: url(../img/vehicle_07.jpg) center center no-repeat;
}

.presentation .vehicle .pricing,
.presentation .vehicle .features {
  min-width: 100%;
}

.presentation .vehicle .pricing ul,
.presentation .vehicle .features ul {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.presentation .vehicle .pricing ul li {
  text-align: right;
  min-width: 130px;
  padding: 5px 10px;
}

.presentation .vehicle .pricing ul li + li {
  border-left: 5px solid #7E81BB;
}

.presentation .vehicle .pricing .value {
  font: 700 1.5rem/1.25 "TT Norms", sans-serif;
}

.presentation .vehicle .pricing .description {
  font: 500 0.8rem/1.25 "TT Norms", sans-serif;
}

.presentation .vehicle .features ul li {
  padding: 10px 10px 10px 20px;
  margin: 0 10px;
  background: url(../img/icon_check.png) left center no-repeat;
}

.footer {
  background-color: #252525;
  color: #FFFFFF;
  min-height: 150px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-around;
}

.footer .wrapper > li:last-child {
  align-self: flex-end;
}

.footer .submenu,
.footer .contacts {
  display: flex;
  flex-direction: column;
}

.footer .social {
  display: flex;
  justify-content: space-between;
}

.footer .submenu a, .footer .contacts li {
  font: 400 1.125rem/1.25 "TT Norms", sans-serif;
  color: #FFFFFF;
  display: block;
  margin-bottom: 20px;
}

.footer .submenu a:hover,
.footer .submenu a:focus,
.footer .contacts li:hover,
.footer .contacts li:focus {
  color: #7E81BB;
  cursor: pointer;
}

.footer .contacts li {
  padding-left: 30px;
}

.footer .phone {
  background: url(../img/icon_phone_2.png) left 3px no-repeat;
}

.footer .mail {
  background: url(../img/icon_mail.png) left 5px no-repeat;
}

.footer .website {
  background: url(../img/icon_website.png) left 3px no-repeat;
}

.footer .social {
  min-width: 120px;
}

.footer .social li a {
  background-image: url(../img/icons_social.png);
  background-repeat: no-repeat;
  display: block;
  height: 32px;
  width: 32px;
}

.ig a {
  background-position: 1px 0;
}

.vk a {
  background-position: -40px 0;
}

.fb a {
  background-position: -83px 0;
}