<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, input, textarea, select, button {
  display: block;
}
  
a {
  text-decoration: none;
  color: #fff;
  font: 400 1.125rem/1.25 'Jost', sans-serif;
  transition: color 0.5s ease 0s;
  -webkit-transition: color 0.5s ease 0s;
}

a:hover, a:active {
  color: #7e81bb;
  transition: color 0.5s ease 0s;
  -webkit-transition: color 0.5s ease 0s;
}

*:focus {
  outline: 0;
}

body {
  line-height: 1;
  position: relative;
  font: 400 1.125rem/1.25 'Jost', sans-serif;
}
  
p {
  font: 400 1.125rem/1.25 'Jost', sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  text-align: left;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.relative {
  position: relative;
}
  
.clear:before, .clear:after {
  content: '';
  clear: both;
  display: block;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
  
body {
  width: 100%;
  min-height: 100%;
  min-width: 640px;
  padding: 0;
  margin: 0;
  color: #333;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#wrapper {
  width: 100%;
  min-width: 360px;
  overflow-x: hidden;
}

.width {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .row {
  padding: 35px 0;
}

.row {
  text-align: justify;
  font-size: 0;
}

.row::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.col {
  display: inline-block;
  vertical-align: middle;
}

.header .col .search, .header .col .basket {
  display: inline-block;
  margin-right: 20px;
}

.header .phone {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #9b9b9b;
  background: url(img/icon_phone_1.png) left 0 no-repeat;
  padding-top: 9px;
  padding-left: 45px;
  min-height: 37px;
}

.header .callme {
  padding: 10px 35px;
}

.header .profile {
  padding: 10px 45px;
}

.header .callme, .header .profile {
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 18px;
  color: #646466;
  border: 1px solid #646466;
  transition-property: color, border, background-color;
}

.header .callme:hover, .header .profile:hover {
  background-color: #7e81bb;
  color: #fff;
  border: 1px solid #7e81bb;
  transition-property: color, border, background-color;
}

.header .search {
  display: block;
  height: 36px;
  width: 36px;
  background: transparent url(img/icon_search.png) center center no-repeat;
}

.header .basket {
  display: block;
  height: 36px;
  width: 42px;
  background: transparent url(img/icon_basket.png) center center no-repeat;
}

.menu {
  background-color: #20201f;
}

.menu .row {
  padding: 10px 28px;
}

.menu a {
  font-size: 1.5rem;
}

.menu .active {
  color: #7e81bb;
}

.content {

}

.section {

}

.top {
  background: #fff url(img/header_bg.jpg) center center no-repeat;
  min-height: 569px;
}

.slogan {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  padding: 30px;
}

.select {
  padding-bottom: 20px;
}

.select .caption {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  padding: 30px 0 20px 35px;
  color: #646466;
}

.select .model {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.vehicle {
  padding: 10px 10px 30px 10px;
}

.vehicle .photo {
  padding-bottom: 25px;
}

.services {
  font-size: 0;
}

.services .service {
  background-color: #9b9b9b;
  height: 560px;
  vertical-align: top;
  background-size: contain;
  display: inline-block;
  margin: 5px;
  position: relative;
}

.services .caption {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  padding: 30px 0 0 50px;
}

.services .readmore {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 15px 10px;
  border: 5px solid #fff;
  font-size: 1.15rem;
  letter-spacing: 1px;
  background-color: transparent;
  transition: 0.5s ease 0s;
  transition-property: background-color, color;
}

.services .readmore:hover {
  background-color: #fff;
  transition: 0.5s ease 0s;
  transition-property: background-color, color;
}

.services .transfer {
  background: url(img/slide_transfer.jpg) center center no-repeat;
  background-size: cover;
  width: 38%;
}

.services .wedding {
  background: url(img/slide_wedding.jpg) center center no-repeat;
  background-size: cover;
  width: 60%;
}

.services .corporate {
  background: url(img/slide_corporate.jpg) center center no-repeat;
  background-size: cover;
  width: 56%;
}

.services .business {
  background: url(img/slide_business.jpg) center center no-repeat;
  background-size: cover;
  width: 42%;
}

.services .events {
  background: url(img/slide_events.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1875px;
}

.footer {
  background-color: #252525;
  min-height: 150px;
  padding-top: 60px;
}

.footer .col {
  vertical-align: top;
}

.footer .submenu, .footer .contacts, .footer .social {
  display: inline-block;
}

.footer .submenu li, .footer .contacts li {
  font: 500 1rem/1.25 'Arial', sans-serif;
  letter-spacing: 1px;
  color: #FFF;
  padding-bottom: 20px;
}

.footer .submenu li a, .footer .contacts li a {
  font-size: 1rem;
}

.footer .phone, .footer .mail, .footer .website {
  padding-left: 30px;
  background-size: 16px;
}

.footer .phone {
  background: url(img/icon_phone_2.png) left 1px no-repeat;
}

.footer .mail {
  background: url(img/icon_mail.png) left 3px no-repeat;
}

.footer .website {
  background: url(img/icon_website.png) left 1px no-repeat;
}

.footer .social {
  text-align: justify;
  width: 120px;
  vertical-align: bottom;
}

.footer .social li {
  display: inline-block;
  
}

.footer .social li a {
  background-image: url(img/icons_social.png);
  background-repeat: no-repeat;
  height:32px;
  width: 32px;
  display: block;
}

.instagram a {
  background-position: 1px 0;
}

.vk a {
  background-position: -40px 0;
}

.facebook a {
  background-position: -83px 0;
}